@charset "ISO-8859-1";

/****
	* Analytics page css style *
								****/
#dep {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-top: 5%;
}

#dep td, #dep th {
	border: 1px solid #ddd;
	padding: 8px;
}

#dep tr:nth-child(even) {
	background-color: #f2f2f2;
}

#dep tr:hover {
	background-color: #ddd;
}

#dep th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #3399ff;
	color: white;
}

.col-lg-6 {
	margin-left: 35px;
	margin-right: 20px;;
	margin-top: 60px;
	margin-bottom: -15px;
}

.Analyticsh1 {
	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 300;
}
/****
	 * Employee Login css Style *
	 							 ****/
.employee-body-style {
	margin: 100px 160px;
	font-family: Arial;
	background-color: #3399ff;
}

.employee-loginh1 {
	margin-top: 0px;
	color: #ffffff;
	text-align: left;
	font-size: 30px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 300
}

.hh1 {
	font-family: sans-serif;
	text-align: justify;
	margin-top: 10px;
	margin-left: 100px;
}

.div1 {
	background-color: #ffffff;
	width: 300px;
	margin-top: 20px;
	margin-left: 350px;
	padding: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.employeelogininput[type=text], [type=email], .employeelogininput[type=password] {
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 300px;
	height: 32px;
	border: none;
	border-bottom: 1px solid #AAA;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
}

.employeelogininput[type="text"]:focus, .employeelogininput[type="email"]:focus, .employeelogininput[type="password"]:focus
	{
	border-bottom: 2px solid #16a085;
	color: #16a085;
	transition: 0.2s ease;
	outline: none;
}

input[type="search"]{
	
	borde:1px solid #e6e6e6;
	
}
.btn1 {
	position: absolute;
	margin-top: 5px;
	margin-left: 45px;
	background-color: #ff6600;
	color: white;
	font-size: 15px;
	padding: 8px 15px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.btn1:hover {
	background-color: #00004d;
	color: white;
}

.btn2 {
	position: absolute;
	margin-top: 5px;
	margin-left: 185px;
	background-color: #ff6600;
	color: white;
	font-size: 14px;
	padding: 9px 23px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.btn2:hover {
	background-color: #00004d;
	color: white;
}

/**** 
	 * Department Details css style *
	 								 ****/

.table1 {
	position: absolute;
	margin-top: 100px;
	margin-left: 180px;
	font-size: 15px;
	cursor: default;
	width: 85%;
	z-index: -10;
}

.btn3{
	position: absolute;
	margin-top: 105px;
	margin-left: 88%;
	background-color: #ff6600;
	color: white;
	font-size: 15px;
	padding: 8px 13px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.btn3:hover {
	background-color: #00004d;
	color: white;
}

.formdiv1 {
	background-color: #ffffff;
	width: 420px;
	margin-top: 70px;
	margin-left: 500px;
	hight: 200px;
	padding: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.depRegister-input[type=text], 
.depRegister-textarea {
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 340px;
	height: 50px;
	border: none;
	border-bottom: 1px solid #AAA;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
}

.depRegister-input[type="text"]:focus,
.depRegister-textarea:focus {
	border-bottom: 2px solid #16a085;
	color: #16a085;
	transition: 0.2s ease;
	outline: none;
}

.btnback {
	position: absolute;
	margin-top: -15px;
	margin-left: 22%;
	background-color: #ff6600;
	color: white;
	font-size: 15px;
	padding: 8px -1px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.btnback:hover {
	background-color: #00004d;
	color: white;
}

.btnadddetails {
	position: absolute;
	margin-left: 4%;
	background-color: #ff6600;
	color: white;
	font-size: 15px;
	padding: 8px 13px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.btnadddetails:hover {
	background-color: #00004d;
	color: white;
}

.btnreset {
	position: absolute;
	margin-left: 180px;
	background-color: #ff6600;
	color: white;
	font-size: 15px;
	padding: 8px 30px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.btnreset:hover {
	background-color: #00004d;
	color: white;
}

/***
    * Employee Details css style *
    							  ****/

.table2 {
	position: absolute;
	margin-top: 100px;
	margin-left: 175px;
	font-size: 15px;
	cursor: pointer;
	width: 85%;
	z-index: -10;
}

.btn4 {
	position: absolute;
	margin-top: 105px;
	margin-left: 88%;
	background-color: #ff6600;
	color: white;
	font-size: 15px;
	padding: 8px 18px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.btn4:hover {
	background-color: #00004d;
	color: white;
}

/***
    * Employee Register css style *
    							****/
    							
.divaddemployee {
	background-color: #ffffff;
	width: 380px;
	margin-top: 40px;
	margin-left: 40%;
	padding: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	z-index: 0;
}

.employeeRegister-checkbox[type=checkbox] {
	width: 30px;
}

.employeeRegister-input[type=text], .employeeRegister-input[type=email],
	.employeeRegister-input[type=password], .employeeRegister-select {
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 300px;
	height: 32px;
	border: none;
	border-bottom: 1px solid #AAA;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
}

.employeeRegister-input[type="text"]:focus, 
.employeeRegister-input[type="email"]:focus, 
.employeeRegister-input[type="password"]:focus,
.employeeRegister-select:focus {
	border-bottom: 2px solid #16a085;
	color: #16a085;
	transition: 0.2s ease;
	outline: none;
}

.empRegisterbtnback {
	position: absolute;
	margin-top: -35px;
	margin-left: 256px;
	background-color: #ff6600;
	color: white;
	font-size: 15px;
	padding: 8px -1px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.empRegisterbtnback:hover {
	background-color: #00004d;
	color: white;
}

.empRegisterbtn5 {
	position: relative;
	margin-top: 5px;
	margin-left: 0px;
	background-color: #ff6600;
	color: white;
	font-size: 15px;
	padding: 8px 13px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.empRegisterbtn5:hover {
	background-color: #00004d;
	color: white;
}

.empRegisterbtn6 {
	position: absolute;
	margin-top: 5px;
	margin-left: 84px;
	background-color: #ff6600;
	color: white;
	font-size: 15px;
	padding: 8px 35px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.empRegisterbtn6:hover {
	background-color: #00004d;
	color: white;
}

.div2 {
    background-color: #ffffff;
    width: 300px;
    margin-top:350px;
    margin-left:350px;
    padding:40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
   }
   
   
.btn5{
	
	position: absolute;
	margin-top:-3%;
	margin-left: -10%;
	background-color: #ff6600;
	color: white;
	font-size: 15px;
	padding: 8px 15px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.btn5:hover{
	
	background-color: #00004d;
	color: white;
}

.sortable tr{
	
	cursor:pointer;
}

.sortable tr:hover{
	
	cursor:pointer;
}